<h2>Simple Calculator</h2>
<br />
<h4>Calculation Results</h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Math Operator
            </th>
            <th>
                First Number
            </th>
            <th>
                Second Number
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody id="result_data">
    </tbody>
</table>

<br />

<div id="pagination"></div>